$text-color-green: rgba(0, 155, 77, 1);
$text-color-dark: rgba(43, 41, 45, 1);
$text-color-light-grey: rgba(43, 41, 45, 0.6);
$text-color-black-btn: rgba(0, 0, 0, 1);

$color-light: rgba(244, 245, 247, 1);
$color-white: rgba(255, 255, 255, 1);
$border-color: rgba(43, 41, 45, 0.2);
$color-blue: rgba(48, 64, 196, 1);
$color-blue-btn: rgb(50, 66, 198, 1);
$color-blue-bg-img: rgba(49, 65, 197, 1);
$color-audience-bg: rgba(0, 161, 198, 0.07);